body {
    background-image: url("../img/about.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.heading {
    text-align: center;
    color: #BE7D16;
    font-size: 70px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
}

#about-text {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Cormorant Garamond', serif
}

#service-text {
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Cormorant Garamond', serif
}

.responsive {
    margin: 0px;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

@media (max-width: 375px) {}