.bg-index {
    background-image: url("../img/about.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-about {
    background-image: url("../img/about.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-cons {
    background-image: url("../img/construction.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-water {
    background-image: url("../img/water.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-trade {
    background-image: url("../img/global.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

header {
    margin-top: 10px;
    margin-left: 10px;
}

.responsive {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 86%;
    height: auto;
}

.text {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}

.text-2 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

.text-3 {
    text-align: center;
    color: antiquewhite;
    font-size: 16px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

.text-4 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}

#contact {
    background-color: black;
    width: 100%;
    text-align: left;
}

#contact-img {
    height: 50px;
    width: 50px;
}

#contact-grid {
    display: flex;
    justify-content: space-between;
}

.contact-heading {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

.contact-text {
    text-align: left;
    color: antiquewhite;
    font-size: 13px;
    font-family: monospace;
}

.imgg {
    background: transparent;
}

@media (max-width: 800px) {
    .text {
        font-size: 25px;
    }
    .contact-heading {
        text-align: left;
    }
    .contact-text {
        text-align: left;
    }
    #contact-grid {
        display: inline;
    }
    #contact-img {
        height: 8%;
        width: 8%;
    }
}

/*  about  */

.heading {
    text-align: center;
    color: #BE7D16;
    font-size: 70px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
}

#about-text {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Cormorant Garamond', serif
}

#service-text {
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Cormorant Garamond', serif
}

.responsive {
    margin: 0px;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

/* construction  */

.container2 {
    display: flex;
    overflow-x: auto;
    justify-content: center;
}

.container2 img {
    margin-right: 15px;
}

.container2::-webkit-scrollbar {
    display: none;
}

#gallery {
    display: flex;
    align-items: center;
    height: 40vh;
}

.container2 img {
    width: 250px;
    height: 200px;
}