html body {
    background-image: url("../img/about.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.responsive {
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 86%;
    height: auto;
}

.text {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}

.text-2 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

.text-3 {
    text-align: center;
    color: antiquewhite;
    font-size: 13px;
    font-family: monospace;
}

#contact {
    background-color: black;
    width: 100%;
}

#contact-img {
    height: 4%;
    width: 4%;
}

@media (max-width: 414px) {
    .text {
        font-size: 25px;
    }
}